#main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#temperature-container {
  background-color: #151B1E;
}

#humidity-container {
  background-color: #242F34;
}

#motion-container {
  background-color: #34434a;    
}

.section-container {
  color: #ffffff;
  text-align: center;
  height: 33.33%;
}

.section-title {
  font-size: 40pt;
  padding-top: 40px;
}

.section-value {
  font-size: 50pt;
  padding-top: 50px;
}