#main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: red;
}

#temperature-container {
  background-color: #37474F;
}

#humidity-container {
  background-color: #607D8B;
}

.section-container {
  color: #ffffff;
  text-align: center;
  height: 50%;
}

.section-title {
  font-size: 40pt;
  padding-top: 50px;
}

.section-value {
  font-size: 80pt;
  padding-top: 50px;
}